<!-- <header> -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><img src="../../../../../assets/img/DitridiLOGOBlack.png" width="150"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mt-0">
            <li class="nav-item active">
                <a href="#">INICIO <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="#">TEMARIO</a>
            </li>
            <li class="nav-item">
                <a href="#">QUIÉNES SOMOS</a>
            </li>
            <li class="nav-item">
                <a href="#">FAQ</a>
            </li>
            <li class="nav-item">
                <a href="#">CONTACTO</a>
            </li>
        </ul>
    </div>
</nav> -->
<div class="col-12 animated__animate bounceIn">
<div class="row">
    <div class="col-6">
        <a class="navbar-brand" href=""><img src="../../../../../assets/img/dritdiLogoblack.png"></a>
    </div>
    <div class="col-5">
        <ul class="ml-auto pt-4">
            <li class="mr-3">
                <a href="#">INICIO <span class="sr-only">(current)</span></a>
            </li>
            <li class="mr-3">
                <a href="#">TEMARIO</a>
            </li>
            <li class="mr-3">
                <a href="#">QUIÉNES SOMOS</a>
            </li>
            <li class="mr-3">
                <a href="#">FAQ</a>
            </li>
            <li class="mr-3">
                <a href="#">CONTACTO</a>
            </li>
        </ul>
    </div>
    <div class="col-1 mt-4">
        icono
    </div>
</div>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><img src="../../../../../assets/img/DitridiLOGOBlack.png" width="150"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mt-0">
            <li class="nav-item active">
                <a href="#">INICIO <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="#">TEMARIO</a>
            </li>
            <li class="nav-item">
                <a href="#">QUIÉNES SOMOS</a>
            </li>
            <li class="nav-item">
                <a href="#">FAQ</a>
            </li>
            <li class="nav-item">
                <a href="#">CONTACTO</a>
            </li>
        </ul>
    </div>
</nav> -->
<!-- </header> -->
<div class="row">
    <div class="col-12 col-lg-6">
        <h1 id="title1">Bienvenido </h1>
        <h1 id="title2">Bienvenido </h1>
        <h1 id="title3">Bienvenido </h1>
        <h1 id="title4">Bienvenido </h1>
        <h1 id="title6">A <span id="title7">DRITDI</span></h1>
        <h3 id="subtitle">El futuro de la educación está aquí</h3>
        <button id="botonComenzar" class="btn"><strong>Ir a la aplicación</strong></button>
    </div>
    <div class="col-12 col-lg-5">
        <img src="../../../../../assets/img/adnwallpaper.jpg" class="img-fluid">
    </div>
    <div class="col-12 col-lg-1"></div>
</div>
</div>