<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=""><img src="../../../../../assets/img/DitridiLOGOBlack.png" width="150"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav"
            style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="text-right" href="#">INICIO <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="text-right" href="#">TEMARIO</a>
                </li>
                <li class="nav-item">
                    <a class="text-right" href="#">QUIÉNES SOMOS</a>
                </li>
                <li class="nav-item">
                    <a class="text-right" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="text-right" href="#">CONTACTO</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container-fluid" id="bg">
    <div class="w-50">
        <div>
            <h1 id="title1">Bienvenido </h1>
            <h1 id="title2">Bienvenido </h1>
            <h1 id="title3">Bienvenido </h1>
            <h1 id="title4">Bienvenido </h1>
            <h1 id="title6">A <span id="title7">DRITDI</span></h1>
        </div>
    </div>
    <div id="bg" class="w-50"></div>
    <h3 id="subtitle">El futuro de la educación está aquí</h3>
    <div id="botones">
        <button id="botonComenzar" class="btn"><strong>COMENZAR</strong></button>
        <br>
        <!-- <button id="botonCreditos" class="btn">Créditos</button> -->
    </div>
</div>