@font-face {
    font-family: 'MADE Evolve Sans Bold EVO';
    src: url('../../../../../assets/font/MADE\ Evolve\ Sans\ Bold\ EVO.otf');
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../../../../../assets/font/OpenSans-ExtraBold.ttf');
}

#dritdi-logo {
    margin-right: 65%;
    text-align: left;
    width: 150px;
    height: 150px;;
}

.navbar {
    background-color: transparent !important;
    box-shadow: none;
}

.navbar-item {
    text-align: center;
}

li {
    font-family: 'Open Sans Extrabold';
    display: inline;
    background-color: transparent !important;
    border: 0;
    border-radius: 0;
    margin-right: 10px;
}

#bg {
    background-repeat: no-repeat;
    display: flex;
    float: right;
}

#title1 {
    font-family: 'MADE Evolve Sans Bold EVO';
    font-size: 5rem;
    margin-top: 0%;
    color: #F0F0F0;  
}

#title2 {
    font-family: 'MADE Evolve Sans Bold EVO';
    font-size: 5rem;
    margin-top: 0%;
    color: #F0F0F0;
    padding-top: 0%;    
}

#title3 {
    font-family: 'MADE Evolve Sans Bold EVO';
    font-size: 5rem;
    margin-top: 0%;
    color: #F0F0F0;
    padding-top: 0%;     
}

#title4 {
    font-family: 'MADE Evolve Sans Bold EVO';
    font-size: 5rem;
    margin-top: 0%;
    padding-top: 0%;   
}

#title6 {
    font-family: 'MADE Evolve Sans Bold EVO';
    font-size: 5rem;  
}

#title7 {
    font-family: 'MADE Evolve Sans Bold EVO';
    font-size: 5rem; 
}

#botonComenzar {
    font-family: 'Open Sans Extrabold';
    font-size: 18px;
    text-align: center;
    background-color: #3c9227;
    color: #edeeef;
    border-radius: 5px;
    height: 40px;
    margin-left: 35px;
}

#logo-dritdi {
    width: 25%;
    height: 25%;
    margin-left: 35px;
}